/* -------------------- ALL STYLE -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:wght@400;500;700&family=Quicksand:wght@400;500;700&display=swap');

:root {
    /* BACKGROUND-COLOR */
    --bgcolor-primary: #DC9788;
    --bgcolor-primary-default: #F2F2F2;
    --bgcolor-secondary: #562349;

    --bgcolor-neutral: #000000;
    --bgcolor-neutral-default: #606060;
    --bgcolor-neutral-secondary: #FFFFFF;   
    


    /* FONT-COLOR */
    --fcolor-primary: #DC9788;
    --fcolor-secondary: #562349;
    
    --fcolor-neutral: #000000;
    --fcolor-neutral-default: #606060;
    --fcolor-neutral-secondary: #FFFFFF;    
    
    
    
    /* FONT-FAMILY */
    --font-primary: 'Poppins', 'Quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-secondary: 'Playfair Display', 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    font-family: var(--font-primary);
}





.font-subhead {
    font-size: 32px;
}

.font-desc {
    font-size: 12px;
}



.btn {
    font-size: 12px;
    font-weight: 400;
    padding: 8px 64px;
    border-radius: 50px;
}

.btn-primary {
    border: 1px solid var(--bgcolor-primary);
    background-color: var(--bgcolor-primary) !important;
}

.btn-primary:hover {
    border: 1px solid var(--bgcolor-primary);
    background-color: var(--bgcolor-primary) !important;
}

.btn-primary-default {
    color: var(--bgcolor-primary);
    
    border: 1px solid var(--bgcolor-primary-default);
    background-color: var(--bgcolor-primary-default) !important;
}

.btn-primary-default:hover {
    color: var(--bgcolor-neutral-secondary);

    border: 1px solid var(--bgcolor-primary);
    background-color: var(--bgcolor-primary) !important;
}


.slider {
    width: 100%;
    margin: 0px auto;
} 

/* .slick-slide > div > div {
    width: 52px !important;
} */

.slick-next, .slick-dots {
    display: none !important;
}


/*  
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}
.slick-current {
  opacity: 1;
}

*/




/* ---------------------- NAVBAR ---------------------- */

.navbar {
    background-color: var(--bgcolor-primary) !important;
}

.navbar .navbar-brand {
    color: var(--fcolor-neutral-secondary) !important;
}

.navbar ul {
    margin-right: 14rem !important;
}

.navbar ul li a {
    margin: 0px 12px;
    font-size: 18px;
    color: var(--fcolor-neutral-secondary) !important;
}

.navbar ul li a:hover {

    text-decoration: underline;
}

.navbar form .iconify {
    width: 36px;
    height: 40px;
    
    margin-right: 4px;
    padding: 8px 8px;
    color: var(--fcolor-neutral-secondary);
}

/* .navbar form .iconify2 {
    width: 36px;
    height: 40px;
    
    margin-right: 4px;
    padding: 6px 6px;
    color: var(--bgcolor-neutral-secondary);
} */

.navbar form .profile {
    width: 36px;
    height: 36px;
    margin-left: 12px;

    overflow: hidden;
    border-radius: 100%;

    background-color: var(--bgcolor-neutral-secondary);
}

.navbar form .profile img {
    width: 100%;
}



/* -------------------- JUMBOTRON -------------------- */

.jumbotron {
    /* height: 300px; */
    clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 0% 100%);

    color: var(--fcolor-neutral-secondary);
    background-color: var(--bgcolor-primary);
}

.jumbotron .jum-image {
    width: 400px;
    height: 700px;
    margin-top: 36px;
    clip-path: polygon(0% 0%, 90% 10%, 100% 100%, 0% 100%);
    overflow: hidden;
}

.jumbotron .jum-image img {
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.jumbotron h6 {
    font-family: var(--font-secondary);
}

.jumbotron h1 {
    font-size: 140px;
    line-height: 120px;
    font-family: var(--font-secondary);
}

.jumbotron .desc {
    margin-top: 24px;
    margin-bottom: 36px;
}

/* .jumbotron .jum-image-priview {
    display: flex;
} */

.jumbotron .slick-slide > div {
    width: 120px !important;
}

.jumbotron .slick-slide .image-priview {
    width: 120px;
    height: 180px;
    margin: 0px 6px;
    overflow: hidden;
    border-radius: 4px;
}

.jumbotron .slick-center .image-priview {
    width: 100px !important;
    height: 140px;
    margin: 20px 14px;
    overflow: hidden;
    border-radius: 4px;
}

/* .jumbotron .jum-image-priview .image-priview {
    width: 120px;
    height: 160px;
    margin: 0px 6px;
    overflow: hidden;
    border-radius: 4px;
} */

.jumbotron .jum-image-priview .image-priview img {
    height: 100%;
    /* width: 100%; */
    min-width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 1000px) {
    .jumbotron {
        clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
    }
}

@media screen and (max-width: 450px) {
    .jumbotron h1 {
        font-size: 100px;
    }
    
    /* .jumbotron .slider .draggable {
        padding: 0px;
    }
    
    .jumbotron .slick-center .image-priview {
        margin: 20px 0px;
    } */
}

@media screen and (max-width: 420px) {
    .jumbotron .jum-image {
        width: 100%;
        height: 400px;
        margin-top: 36px;
        clip-path: polygon(0% 0%, 90% 10%, 100% 100%, 0% 100%);
        overflow: hidden;
    }
    
    .jumbotron .jum-image img {
        height: none;
        min-width: 100%;
        min-height: 100%;
    }
}



/* -------------------- CATEGORY -------------------- */



.category {
    padding: 52px 0px;
}

.category .category-menu {
    /* display: flex; */
    text-align: center;
}

.category .category-menu a {
    text-align: center;
    margin: 12px 36px;
    text-decoration: none;
}

.category .slick-slide > div > div {
    width: 52px !important;
}

.category .category-menu .menu {
    width: 52px;
}

.category .category-menu .menu-image {
    width: 100%;
    height: 52px;
    overflow: hidden;
}

.category .category-menu .menu-image img {
    width: 100%;
}

.category .category-menu p {
    margin: 6px 4px;

    color: var(--fcolor-neutral);
}

.category .category-priview {
    padding: 12px 0px;
}

.category .category-priview a {
    text-decoration: none;
    pointer-events: none;
}

.category .category-priview .priview {
    width: 240px;
    height: 360px;
    margin: 4px 4px;

    border-radius: 12px;
    overflow: hidden;
    display: inline-block;
}

.category .category-priview .priview img {
    min-width: 100%;
    min-height: 100%;
    z-index: -1111;
}

.category .category-priview .priview .priview-content {
    height: 100%;
    display: absolute;
    margin-top: 0px;

    z-index: 1;
}




/* -------------------- POPULAR -------------------- */



.popular {
    padding: 36px 0px;
    /* overflow: none; */
    background-color: var(--bgcolor-primary);
}

.popular .font-subhead {
    color: var(--bgcolor-neutral-secondary);
}

.popular .card-slider {
    overflow: hidden;
    margin-left: 8%;
}

.popular .card {
    width: 640px !important;
    margin: 0px 14px;
    margin-bottom: 36px;
    padding: 36px;

    display: grid !important;
    grid-template-columns: 360px auto;

    border: none;
    border-radius: 16px;
    box-shadow: 0px 15px 10px #0000003a;

    background-color: var(--bgcolor-neutral-secondary);
}

.popular .card .card-content {
    width: 100%;
}

.popular .card .card-content .card-title {
    font-size: 20px;
    font-weight: 500;
}

.popular .card .card-content .card-desc {
    font-size: 12px;
    font-weight: 400;

    color: var(--fcolor-neutral-default);
}

.popular .card .card-content table {
    font-size: 12px;
    font-weight: 400;
}

.popular .card .card-content table tr td {
    padding: 4px 12px;
}

/* 
.popular .card table tr .size span {
    margin: 0px 2px;
} 
*/

.popular .card .card-content .card-colorpick {
    width: 16px;
    height: 16px;
    margin: 0px 2px;

    display: inline-block;
    border-radius: 100%;
}

.popular .card .card-content .mt-5 > .btn {
    padding-left: 20px;
    padding-right: 20px;
}

.popular .card .card-content .mt-5 > .btn-love {
    font-size: 20px;
    margin-left: 12px;
    border-radius: 12px;

    padding: 2px 8px;
}

.popular .card .card-image {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.popular .card .card-image img {
    min-width: 100%;
    min-height: 100%;
}



/* -------------------- PARTNER -------------------- */



.partner {
    padding: 36px 0px;
    text-align: center;
}

.partner a {
    margin: 0px 36px;
    text-decoration: none;

    font-size: 36px;
    font-family: var(--font-secondary);

    color: var(--bgcolor-primary);
}




/* -------------------- RIVIEW -------------------- */



.riview {
    padding: 36px 0px;
}

.riview > .container {
    display: grid;
    grid-gap: 42px;
    grid-template-columns: 460px auto;
}

@media screen and (max-width: 1000px) {
    .riview > .container {
        display: grid;
        grid-gap: 42px;
        grid-template-columns: auto;
    }
}

.riview .riview-image-promo {
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 6px;
}

.riview .riview-image-promo img {
    /* width: 100%; */
    /* height: 120%; */
    min-width: 100%;
    min-height: 100%;
}

.riview .riview-user {
    padding: 12px 0px;
}

.riview .riview-user .row {
    margin: 40px 0px;

    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 12px;
}

.riview .riview-user .riview-image {
    width: 200px;
    height: 200px;
    
    overflow: hidden;
    border-radius: 6px;
}

.riview .riview-user .riview-image img {
    min-width: 100%;
    min-height: 100%;
}

.riview .riview-user .riview-user-desc {
    font-size: 12px;
    padding: 12px 26px;
    
    color: var(--fcolor-neutral-default);
}

.riview .riview-user .riview-user-desc p:nth-child(1) {
    margin: 0px;
    /* margin-bottom: 12px; */
    
    font-weight: 500;
    color: var(--fcolor-neutral);
}

.riview .riview-user .riview-user-desc .riview-rate {
    margin: 12px 0px;
}

.riview .riview-user .riview-user-desc .riview-rate  .iconify {
    margin-top: -2px;
    font-size: 16px;
    
    color: var(--fcolor-primary);
}

.riview .riview-user .riview-user-desc .riview-rate  span:nth-child(2) {
    font-size: 12px;
    margin: 1px 4px;
}

@media screen and (max-width: 480px) {
    .riview .riview-user .row {
        margin: 40px 0px;
        
        display: grid;
        grid-template-columns: auto;
        grid-gap: 12px;
    }

    .riview .riview-user .riview-image {
        width: 100%;
        height: 200px;
        
        overflow: hidden;
        border-radius: 6px;
    }
    
    .riview .riview-user .riview-image img {
        min-width: 100%;
        min-height: 100%;
    }
}



/* -------------------- PROMO -------------------- */




.promo {
    padding: 5rem;
    border-radius: 12px;
    
    display: grid;
    grid-template-columns: auto auto;

    color: var(--fcolor-neutral-secondary);
    background-color: var(--bgcolor-primary);
}



/* -------------------- FOOTER -------------------- */




footer p {
    margin-top: -4px;

    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-secondary);

    color: var(--fcolor-secondary) !important;
}

footer li a {
    color: var(--fcolor-secondary) !important;
}