/* -------------------- ALL STYLE -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:wght@400;500;700&family=Quicksand:wght@400;500;700&display=swap');

:root {
    /* BACKGROUND-COLOR */
    --bgcolor-primary: #DC9788;
    --bgcolor-primary-default: #F2F2F2;
    --bgcolor-secondary: #562349;

    --bgcolor-neutral: #2B2B2B;
    --bgcolor-neutral-default: #525252;
    --bgcolor-neutral-secondary: #FFFFFF;   
    


    /* FONT-COLOR */
    --fcolor-primary: #DC9788;
    --fcolor-secondary: #562349;
    
    --fcolor-neutral: #000000;
    --fcolor-neutral-default: #606060;
    --fcolor-neutral-secondary: #FFFFFF;    
    
    
    
    /* FONT-FAMILY */
    --font-primary: 'Poppins', 'Quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-secondary: 'Playfair Display', 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    font-family: var(--font-primary);
}





.font-subhead {
    font-size: 32px;
}

.font-desc {
    font-size: 12px;
}

.card-font-head {
    margin: 0;

    font-size: 16px;
    color: var(--fcolor-neutral);
}

.card-font-subhead {
    margin: 0;

    font-size: 14px;
    color: var(--fcolor-neutral);
}

.card-font-desc {
    margin: 0;

    font-size: 10px;
    color: var(--fcolor-neutral);
}




.sidebar {
    background-color: var(--bgcolor-neutral) !important;
}

.sidebar .side-gap {
    padding: 12px 0px;
}

.sidebar .nav-link {
    margin: 4px 0px;
    padding: 12px 16px !important;
    border-radius: 50px;
}

.sidebar .nav-link:hover {
    background-color: var(--bgcolor-neutral-default) !important;
}





.card-header {
    background-color: var(--bgcolor-neutral-secondary);
}

.btn-upload {
    color: transparent;
}
.btn-upload::-webkit-file-upload-button {
    visibility: hidden;
}

.btn-upload::before {
    content: 'Add File';
    width: 88%;
    margin: 8px 0px;
    padding: 5px 8px;

    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    /* -webkit-user-select: none; */

    font-size: 14px;
    text-align: center;

    outline: none;
    border-radius: 4px;
    border: 1px solid var(--bgcolor-neutral);

    color: var(--fcolor-neutral);
    background: transparent;
}

.btn-primary {
    font-size: 14px;
    background-color: var(--bgcolor-neutral);
    border: none;
}